.keyboard {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 30px auto 0;
    border: 1px solid #eee;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.screen {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard button {
    width: 30%;
    height: 30px;
    margin-bottom: 10px;
}

.green {
    background-color: green;
}